.container{
    position:fixed;
    top:15%;
    left:27%;
    width:250px;
}
.card{
    padding: 10px;
    margin: auto;
    margin-top: 100px;
    width: 50%;
    padding: 10px;
    background-color: #ffffff;
}

body{
    margin-top: 50px;
    background-image: url('back.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#btn_login{
    width: 250px;
}
.nav-item active{
    text-align: right;
}
